html, body {
    padding:0;
    margin:0;
}

body {
	font-family: Hind;
	font-weight: 400;
	font-size: 14px;
}

.top-nav-bar {
	display: flex;
	position: relative;
	overflow: hidden;
	padding: 0.2%;
	padding-right: 10%;
    height: 30%;
    background-color: white;
   
}
.top-nav-bar-links {
	float: right;
	text-align: right;
	display: inline-block;
}


.top-nav-bar-links a {
	float: right;
  	color: black;
  	text-align: right;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	display: inline-block;
}



.logo img{
	float: left;
	width: 20%;
	margin-top: 1%;
}

.logo {
	width: 50%;
}
#info {
    padding: 10px; 

}

.form {
	text-color: red;
	width:  30%;
	margin: 0 auto;
	padding: 10%;
	text-align: center;
}

.vertical-line {
	height: 100%;
	position: absolute;
 	display: inline-block;
 	text-align: right;
}

#media {
	width: 4%;
	transition: 0.2s;
	text-align: right;
	float: right;

}
.media {
	background-color: black;
	text-align: right;
	height: 100%;
}

.social {
	position: absolute;
	width: 80%;
	height: 100%;
}

.container_img {
	padding: 0;
	max-width: 100%;
	height: 400px;
}

.container_img img {
	display: flex;
	object-fit: cover;
	height: 400px;
	width: 100%
}

.container_bio {
	padding-top: 30px;
	line-height: 1.8;
	display: table;
  	margin: 0 auto;
	width: 58%;
	height:  50%;
}

.horizontal_line {
	width: 10%;
	margin: 0 auto;
	height:  10px;
	background-color: #89DB52;
}

p {
	font-size: 18px;
	color: #777777;
}

.get_started_button {
	width: 10%;	
	height: 10%;
	margin: 0 auto;
	padding: 2px;
	background-color: #89DB52;
	text-align: center;
	justify-content: center;
	
}

.get_started_button a {
	text-decoration: none;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	color:  white;
}

.get_started_button:hover a {
	color:  black;
	transition: 0.5s;
}